{% extends "layout.html" %}

{% block content %}
<div class="content">
	<main>
		<h2>Note manager</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia venenatis dolor, tincidunt iaculis
			risus varius eu. Nunc sed nisi.
		</p>
		<article>
			<h3>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id.
			</h3>
			<p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id.</li>
				</ul>
			</p>
		</article>
	</main>
</div>
{% endblock %}