{% extends "layout.html" %}

{% block content %}
{% if not private_notes %}
<h3>You don't have any private notes. <a href="{{url_for('notes.add_note')}}">Add notes.</a></h3>
{% else %}
{% for note in private_notes %}
<!-- <div class="card">
    <div class="card-header">
        {{note.owner_id}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Description:</h5>
        <p class="card-text">{{note.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->

<div class="accordion" id="notesAccordion">
    <div class="card">
        <div class="card-header" id="heading{{note.id}}">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#note_{{note.id}}" aria-expanded="false" aria-controls="note_{{note.id}}">
                    {{note.title}}
                    <button onClick="delete_note(this);" data-id="{{note.id}}"
                        class="delete btn btn-danger btn-sm">Delete</button>
                    {% if note.attachment_hash %}
                    <button onClick="delete_file(this);" data-id="{{note.id}}"
                        class="delete btn btn-danger btn-sm">Delete file</button>
                    <a href="{{url_for('notes.download_file_private', file_hash = note.attachment_hash)}}"
                        class="btn btn-primary btn-sm">Download</a>
                    {% else %}
                    <input type="file" id="{{note.id}}" name="note" onchange="upload_file(this);"
                        style="display:none" />
                    <button class="btn btn-success btn-sm"
                        onclick="document.getElementById('{{note.id}}').click();">Upload</button>
                    {% endif %}
                    <a href="{{url_for('notes.edit_note', note_id = note.id)}}"
                        class="btn btn-primary btn-sm">Edit</a>
            </h2>
        </div>
        <div id="note_{{note.id}}" class="collapse" aria-labelledby="heading{{note.id}}" data-parent="#notesAccordion">
            <div class="card-body">
                {{note.description}}
            </div>
            {% if note.is_public == False %}
            <a href="{{url_for('notes.make_public', note_id=note.id)}}" class="btn btn-primary">Make public</a>
            {% else %}
            <a href="{{url_for('notes.make_private', note_id=note.id)}}" class="btn btn-primary">Make private</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% if not subscribed_notes %}
<h3>You don't have any subscribed notes <a href="{{url_for('notes.public_notes')}}">Subscribe notes.</a></h3>
{% else %}
{% for subscribed_note in subscribed_notes %}
<div class="accordion" id="notesAccordion">
    <div class="card">
        <div class="card-header" id="heading{{subscribed_note.id}}">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#note_{{subscribed_note.id}}" aria-expanded="false" aria-controls="note_{{subscribed_note.id}}">
                    {{subscribed_note.title}}
                    {% if subscribed_note.attachment_hash %}
                    <a href="{{url_for('notes.download_file_private', file_hash = subscribed_note.attachment_hash)}}"
                        class="btn btn-primary btn-sm">Download</a>
                    {% endif %}
            </h2>
        </div>
        <div id="note_{{subscribed_note.id}}" class="collapse" aria-labelledby="heading{{subscribed_note.id}}" data-parent="#notesAccordion">
            <div class="card-body">
                {{subscribed_note.description}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<script>
    const BASE_URL = 'https://localhost:8080/private-notes'


    function delete_note(data) {
        let item_id = data.getAttribute("data-id");
        fetch(BASE_URL + '/delete/' + item_id, {
            method: 'DELETE',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(result => location.reload())
            .catch(err => console.log(err))
    }


    function delete_file(data) {
        let item_id = data.getAttribute("data-id");
        fetch(BASE_URL + '/files/delete/' + item_id, {
            method: 'DELETE',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(result => location.reload())
            .catch(err => console.log(err))
    }

    function upload_file(data) {
        let fileData = new FormData();
        let file = data.files[0];
        let item_id = data.getAttribute("id");
        fileData.append("Note", file)
        console.log(item_id);
        console.log(file);
        fetch(BASE_URL + '/files/' + item_id, {
            method: 'PATCH',
            credentials: 'include',
            body: fileData
        })
            .then(response => response.json())
            .then(data => location.reload())
            .catch(err => console.log(err))
    }



</script>

{% endblock %}