{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category =='info' %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% elif category == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% elif category == 'warning' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>    
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
{% if not notes %}
<div class="alert alert-info">
    No public notes yet.
</div>
{% else %}

{% for note in notes %}
<div class="accordion" id="notesAccordion">
    <div class="card">
        <div class="card-header" id="heading{{note.id}}">
            <h2 class="mb-0">
                <button class="btn btn-link text-left" type="button" data-toggle="collapse"
                    data-target="#note_{{note.id}}" aria-expanded="false" aria-controls="note_{{note.id}}">
                    {{note.title}}
                </button>
                <a href="{{url_for('main.user_profile', user_id=note.owner.id)}}" class="btn btn-primary btn-sm float-right">{{note.owner.username}}</a>
                {% if note.attachment_hash %}
                <a href="{{url_for('notes.download_file_public', file_hash = note.attachment_hash)}}"
                    class="btn btn-outline-success btn-sm float-right">Download</a>
                {% endif %}
                {% if current_user.is_authenticated and not current_user.id == note.owner_id and note not in current_user.subscribed_notes %}
                <a href="{{url_for('notes.subscribe_note', note_id = note.id)}}"
                class="btn btn-outline-primary btn-sm float-right">Subscribe note</a>
                {% elif note in current_user.subscribed_notes %}
                <a href="{{url_for('notes.unsubscribe_note', note_id = note.id)}}"
                class="btn btn-outline-primary btn-sm float-right">Unsubscribe note</a>
                {% endif %}
            </h2>
        </div>
        <div id="note_{{note.id}}" class="collapse" aria-labelledby="heading{{note.id}}" data-parent="#notesAccordion">
            <div class="card-body">
                {{note.description}} <br>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}