{% extends "layout.html" %}

{% block content%}

{% include "includes/flash_info.html" %}

<div class="user-profile">
    <h1>{{user.username}}</h1>
    <span class="user-profile-btns">
        {% if current_user.id == user.id %}
        <a href="{{url_for('main.edit_profile')}}" class="btn btn-success btn-sm">Edit your profile</a>
        {% elif current_user.id != user.id and not current_user.is_following(user) %}
        <a href="{{url_for('main.follow', user_id = user.id)}}" class="btn btn-primary btn-sm">Follow</a>
        {% elif current_user.is_following(user) %}
        <a href="{{url_for('main.unfollow', user_id = user.id)}}" class="btn btn-primary btn-sm">Unfollow</a>
        {% endif %}
    </span>

    <p>Registered on: {{user.registered_date.date()}}</p>
    <p>Last seen: {{user.last_seen.date()}} {{user.last_seen.time().isoformat(timespec='minutes')}}</p>
    <div class="user-profile-info">
        <div id="note-info-container">
            <p>Notes added: {{ user.notes.count() }}</p>
            <p>Notes subscribed: {{ user.subscribed_notes|length }}</p>
        </div>
        <div id="user-followers-container">
            <p>Users following: {{ user.followers.count() }}</p>
            <p>Users followed: {{ user.followed.count() }}</p>
        </div>
    </div>
    <div class="user-about-me">
        <h4>About me:</h4>
        <p>{{user.about_me}}</p>
    </div>

    
    <div class="user-notes-list">
        <h4>User notes:</h4>   
        {% if notes %} 
        <a href="{{url_for('main.user_notes', user_id=user.id)}}" class="btn btn-primary btn-sm">User notes</a>
        {% else %}
        <p>No public notes</p>
        {% endif %}
    </div>
</div>
{% endblock %}