<nav class="navbar navbar-dark bg-mynav navbar-expand-md">

    <a class="navbar-brand mr-2" href="{{url_for('dashboard.index')}}">NoteApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dashboard.index')}}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('notes.add_note')}}">Add note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('notes.private_notes')}}">Private notes</a>
            </li>
            {% endif %} 
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('notes.public_notes')}}">Public notes</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link">Logged as: {{current_user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.change_password')}}">Change Password</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Log in</a>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.register')}}">Sign up</a>
            </li>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>