<nav class="navbar navbar-dark bg-mynav navbar-expand-md">

    <a class="navbar-brand mr-2" href="{{url_for('dashboard.index')}}">NoteApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if not session.logged_in %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.register')}}">Sign up</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <!-- <a class="nav-link" href="">Add note</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="">Private notes</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="">Public notes</a> -->
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if session.logged_in %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.change_password')}}">Change Password</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Log in</a>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>